.home-first-part {
	z-index: 5;
	width: 456px;
	min-height: 72px;
	background-color: #00B495;
	line-height: 48px !important;
	font-size: 48px !important;
	color: #FFFFFF !important;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 900 !important;
	-webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-2,0);
	-ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-2,0);
	-o-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-2,0);
	transform: matrix(0.9986,-0.0523,0.0523,0.9986,-2,0);
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 2px;
}
.home-second-part {
	z-index: 21;
	width: 655px;
	border-width: 6px;
	border-style: solid;
	border-color: #fd4c09;
	background-color: #fd4c09;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	font-weight: 900 !important;
	font-family: raleway, sans-serif;
}
.area-title {
	margin-bottom: 25px;
	z-index: 5;
	width: 456px;
	min-height: 72px;
	background-color: #00B495;
	line-height: 48px !important;
	font-size: 48px !important;
	color: #FFFFFF !important;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 900 !important;
	-webkit-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-2,0);
	-ms-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-2,0);
	-o-transform: matrix(0.9986,-0.0523,0.0523,0.9986,-2,0);
	transform: matrix(0.9986,-0.0523,0.0523,0.9986,-2,0);
	position: relative;
	margin-right: -1000px;
	margin-top: 12px;
	left: 300px;
}
.service-area {
	padding-top: 0
}
.oc1 {
	background-image: -moz-linear-gradient(0deg, #2d00d9 0%, #fe015a 100%) !important;
	background-image: -webkit-linear-gradient(0deg, #2d00d9 0%, #fe015a 100%) !important;
	background-image: -ms-linear-gradient(0deg, #2d00d9 0%, #fe015a 100%) !important;
}